{% extends 'base.html' %}

{% block title %}
    Login Page
{% endblock %}

{% block content %}
<!--{{form}}-->
    <body class="text-center" style="background: #212121">
       <div class="container">
            <form method="POST" class="form-signin" style="color:white;">
                {{ form.hidden_tag() }}
                <img style="height:150px;width:150px;margin-top:1rem;" class="mb-4" src="https://play-lh.googleusercontent.com/XUrpsBHKpTh1OMm5Pn-ejQZJWhjrKFp1JS6Df7Sc-vVuhuIIpRmdb-buCFiOApMBMw" alt="">
                <h1 class="h3 mb-3 font-weight-normal">
                    Please Login
                </h1>
                <br>
<!--                using jinja template to grab the name of username and passwrod-->
                {{ form.username.label() }}
                {{ form.username(class="form-control", placeholder="User Name") }}

                {{ form.password.label() }}
                {{ form.password(class="form-control", placeholder="Password") }}

                <br>


                <div class="checkbox mb-3">
                   <h6>Do not have an account?</h6>
                   <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
                </div>

                <div style="padding-bottom:5rem;" >{{ form.submit(class="btn btn-lg btn-block btn-primary") }}</div>

            </form>
        </div>

    </body>
{% endblock %}

